<!doctype html>
<html>
<head>
  <title>Tailor Example Application</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <style>
    body {
      background: #ECEFF4;
    }

    header {
      height: 80px;
    }

    main {
      display: flex;
      flex-direction: row;
    }

    #menu {
      flex: 5;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 20px;
    }

    #checkout {
      flex: 1;
      flex-direction: column;
    }
  </style>
  <script>
    (function(d) {
      require(d);
      var arr = [ 'react', 'react-dom', 'prop-types', 'classnames', 'proppy', 'proppy-react'];
      while (i = arr.pop())(function(dep) {
        define(dep, d, function(b) {
          return b[dep];
        })
      })(i);
    }(['http://localhost:6006/public/bundle.js']));
  </script>
</head>
<body>
  <header id="header"></header>
  <main>
    <div id="menu"></div>
    <div id="checkout"></div>
  </main>
  <fragment src="http://localhost:8081"></fragment>
  <fragment src="http://localhost:8082"></fragment>
  <fragment src="http://localhost:8083"></fragment>
</body>
</html>
